
#fields{
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1 1 30%;
    width: 30%;
    margin-top: 100px;
    background-color: white;
    padding-top: 30px;
    padding-bottom: 50px;
    border-radius: 10px;
}

#fields input{
   width: 70%; 
   margin-top: 10px;
}

#fields select{
    width: 70%; 
    margin-top: 10px;
}

#fields button{
    width: 70%; 
    margin-top: 20px;
}