  <div id="fields">
    <h3 *ngIf="userType===1">{{formTitle}}</h3>
    <input
        type="text" 
        class="form-control" 
        placeholder="{{formPlaceHolder}}" 
        name="srcode"
    >

    <input 
        type="text" 
        class="form-control" 
        placeholder="Firstname" 
        name="firstname"
    >
    <input 
        type="text" 
        class="form-control" 
        placeholder="Lastname" 
        name="lastname"
    >
    <select
        class="form-control"
    >
        <option value="true">Male</option>
        <option value="false">Female</option>
    </select>
    <button
        class="btn btn-success"
        type="button"
    >
        Proceed
    </button>
    
</div>

