 <div class="box">
   <div class="wrapper">
      <figure class="login-logo">
        <a href="#"><img src="/assets/logo/logo.png"  alt="AutoVault Logo"></a>
      </figure>
    
      <div #errorMessage id="errorMessage">
      </div>
    
      <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
    
        <div class="form-group">
          <div>
              <input 
                formControlName="username"
                type="text" 
                class="form-control" 
                placeholder="Username" 
                name="username"
                >
          </div>
        </div>
    
        <div class="form-group">
          <div>
              <input 
                type="password"
                class="form-control"
                name="password"
                placeholder="Password" 
                formControlName="password">
          </div>
        </div>
        
        <div id="submitButton">
          <div class="form-group">
            <button
              class="btn btn-primary"
              [disabled]="loginForm.invalid">
              <i class="fa fa-circle-o-notch fa-spin" #spinner></i>
              Sign In
            </button>
          </div>
        </div>
      </form>
    </div>
 </div>