<div class="wrapper">
    <div id="banner">
        <img src="/assets/logo/logo.png" alt="CECS.logo" id="logo">
        <h2>CECS Student and Instructors Information Management System</h2>
    </div>

    <div id="nav">
        <div id="nav-list">
            <ul>
                <li>
                    <a 
                        [routerLink]="['/','admin']" 
                        routerLinkActive="active" 
                        [routerLinkActiveOptions]="{exact:true}">
                        Statistics
                    </a>
                </li>
                
                <li>
                    <a
                        [routerLink]="['students']" 
                        routerLinkActive="active"
                        [routerLinkActiveOptions]="{exact:true}">
                        Student
                    </a>
                </li>

                <li>
                    <a
                        [routerLink]="['/','instructor']" 
                        routerLinkActive="active"
                        [routerLinkActiveOptions]="{exact:true}">
                        Instructor
                    </a>
                </li>

                <li>
                    <a
                        [routerLink]="['courses']" 
                        routerLinkActive="active"
                        [routerLinkActiveOptions]="{exact:true}">
                        Courses
                    </a>
                </li>

                <li>
                    <a
                        [routerLink]="['courses']" 
                        routerLinkActive="active"
                        [routerLinkActiveOptions]="{exact:true}">
                        Colleges
                    </a>
                </li>

                <li>
                    <a
                        [routerLink]="['buildings']" 
                        routerLinkActive="active"
                        [routerLinkActiveOptions]="{exact:true}">
                        Buildings
                    </a>
                </li>

                <li>
                    <a
                        [routerLink]="['admin-list']" 
                        routerLinkActive="active"
                        [routerLinkActiveOptions]="{exact:true}">
                        Admins
                    </a>
                </li>

                

                <li>
                    <a
                        [routerLink]="['account']" 
                        routerLinkActive="active"
                        [routerLinkActiveOptions]="{exact:true}">
                        Account
                    </a>
                </li>

                <li (click)="logout()" class="logout">
                    <a><i class="glyphicon glyphicon-off"></i></a>
                </li>
            </ul>
        </div>
    </div>

    <div id="outlet">
        <div id="outlet-sub-wrapper">
            <router-outlet></router-outlet>
        </div>
    </div>
    <!-- 
    <div id="footer">
        <h6>CECS &copy; All Rights Reserve</h6>
    </div> -->
</div>