<div id="wrapper">
    <div class="stats">
        <h3>Students</h3>
        <i
            style="
                color: #738F9B;
                font-size: 70px
            "
            class="fa fa-user" 
            aria-hidden="true"></i>
        <h4>{{studentsCount}}</h4>
            
    </div>
    <div class="stats">
        <h3>Instructors</h3>
        <i 
            style="
                color: #B7C68B;
                font-size: 70px
            "
            class="fa fa-user" 
            aria-hidden="true"></i>
            <h4>{{instructorsCount}}</h4>
    </div>
    <div class="stats">
        <h3>Buildings</h3>
        <i 
            style="
                color: #EFDD6F;
                font-size: 70px
            "
            class="fa fa-building" 
            aria-hidden="true"></i>
            <h4>{{buildingsCount}}</h4>
    </div>

    <div class="stats">
        <h3>Courses</h3>
        <i 
            style="
                color: #EFDD6F;
                font-size: 70px
            "
            class="fa fa-book" 
            aria-hidden="true"></i>
            <h4>{{buildingsCount}}</h4>
    </div>

    <div class="stats">
        <h3>Colleges</h3>
        <i 
            style="
                color: #EFDD6F;
                font-size: 70px
            "
            class="fa fa-columns" 
            aria-hidden="true"></i>
            <h4>{{buildingsCount}}</h4>
    </div>

</div>