#wrapper{
    display: flex;
    flex-wrap: wrap;
    height: 100%;
    
}

.stats {
    text-align: center;
    color: white;
    flex: 1 1 33.3333%
}

#profile{
    flex: 1 1 100%;
    border: 1px solid red;
    width: 100%;
}
