<div id="wrapper">
    <div class="sub-wrap">
        <h3>Vision</h3>
        <p>
            A globally recognized institution of higher learning that develops 
            competent and morally upright citizens who are active participants 
            in nation building and responsive to the challenges of 21st century
        </p>

    </div>
    <div class="sub-wrap">
        <h3>Mission</h3>
        <p> 
            Batangas state university is committed to the holistic development
            and productive citizens by providing a conductive learning environment 
            for the generation,dissemination and utilization of knowledge 
            through innovative education, multi disciplinary research collaborations, 
            and community partnership that would nurture the spirit of nation hood and 
            help fuel national economy for sustainable development
        </p>
    </div>
</div>