<div class="wrapper">
    <div id="banner">
        <img src="/assets/logo/logo.png" alt="CECS.logo" id="logo">
    </div>

  
    <div id="fields">
        <h3>Student Information</h3>
        <input 
            type="text" 
            class="form-control" 
            placeholder="SR Code" 
            name="srcode"
        >
        <input 
            type="text" 
            class="form-control" 
            placeholder="Firstname" 
            name="firstname"
        >
        <input 
            type="text" 
            class="form-control" 
            placeholder="Lastname" 
            name="lastname"
        >
        <select
            class="form-control"
        >
            <option value="true">Male</option>
            <option value="false">Female</option>
        </select>
        <button
            class="btn btn-success"
            type="button"
        >
            Proceed
        </button>
        
    </div>
   

</div>